<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder 
    '$(find robot_description)/urdf/robot.urdf.xacro'"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.02"/>
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="pause" default="true" />
    <arg name="world" default="$(find robot_description)/world/empty_world.world" />
    <!-- <arg name="world" default="$(find robot_description)/world/playground.world" /> -->

    <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="publish_frequency" value="40.0"/>
    </node>
 
</launch>